.section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.features {
  align-items: center;
}
.features__list-item {
  width: 450px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and(min-width:1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
    width: 270px;
  }
}
.features__list {
  // display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;
    margin-left: auto;
  }
}
.features__description {
  font-weight: 400;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}
.features__icon-div {
  background-color: var(--secondary-bcg);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.section.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
