.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bc-mobile.jpg');
  text-align: center;
  display: flex;
  align-items: center;
  height: 400px;
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 auto;
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/image/hero/header-img-mobile@2x.jpg');
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/image/hero/header-img-tablet.jpg');
    width: 100%;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/image/hero/header-img-tablet@2x.jpg');
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-bc.jpg');
    max-width: 1600px;
    height: 600px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/image/hero/header-img-desktop@2x.jpg');
    width: 100%;
  }
}
.hero__title {
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
}
.hero__button {
  background-color: var(--accent-text-color);
  color: var(--white-color-text);
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;

  transition-property: background-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
