.mobile-menu_close {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  padding: 0;
}
.mobile-menu_nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;

  transform: color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
.mobile-menu_contact-tell {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--accent-text-color);
}
.mobile-menu_contact-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--primary-text-color);
}
.mobile-menu_social-media {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: var(--accent-text-color);
  padding: 10px 20px;
}
.mobile-menu_social-list {
  display: flex;
  margin-top: 64px;
}
.mobile-menu_social-media-item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mobile-menu_close-icon {
  height: 40px;
  fill: #000000;
  transition: fill;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
  .mobile-menu_close:hover & {
    fill: var(--accent-text-color);
  }
}
.mobile-menu.is-open {
  transform: translateY(0%);
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color-text);
  transform: translateY(-100%);
  transition: transform 500ms linear;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}
.mobile-menu_container {
  position: relative;
  width: 480px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 48px;
}
.close-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
.mobile-menu__nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu__nav-list {
  margin-bottom: auto;
}
.mobile-menu__formargin {
  margin-top: 32px;
}
