.examples-list {
  display: flex;
  flex-wrap: wrap;
}
.filter .button {
  background-color: var(--secondary-bcg);
  color: var(--logo-studio-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 3px;
  border-style: none;

  transition-property: background-color, color, box-shadow;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--white-color-text);
    background-color: var(--accent-text-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
.examples .title-examples {
  color: #000000;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 4px;
}
.examples-item .description {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  color: var(--primary-text-color);
  margin-top: 0px;
}
.examples-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    @media screen and(min-width:1200px) {
      margin-right: 30px;
      &:nth-last-child(n + 4) {
        margin-bottom: 30px;
      }
      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }
}
.item-description {
  width: 322px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 450px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
}
.item-description .title {
  margin-bottom: 4px;
  color: var(--logo-studio-color);
}
.anim-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
.filter {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  @media screen and(min-width:768px) {
    justify-content: center;
  }
}
.button-list {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
  &:nth-child(n - 2) {
    margin-bottom: 15px;
  }
}
.examples-img-cover {
  position: relative;
  overflow: hidden;
}
.anim-description {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: var(--duration-time) var(--timing-function);
  .anim-link:hover &,
  .anim-link:focus & {
    transform: translateY(0);
  }
}
.anim-description-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 168px;
  width: 322px;
  color: var(--white-color-text);
  font-size: 18px;
  line-height: 1.55;
  box-shadow: none;
}
