:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --logo-web-color: #2196f3;
  --logo-studio-color: #000000;
  --white-color-text: #ffffff;
  --alternative-bgc: #2f303a;
  --secondary-bcg: #f5f4fa;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-time: 250ms;
}
